.red
{   margin: 34px;
    padding: 50px;
    background-color:aquamarine;
    color: red;
    height: 1000px;
    width: 3000px;
    background-image: url('Screenshot 2026-05-12 074036.png');
    

}